*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* closed */
/* body */
body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
/* closed */
/* todo-list-container */
.todo-list-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* closed */
/* h2 */
h2{
    margin-bottom: 50px;
    color: #000;
    text-transform: capitalize;
}

.html{
    color: red;
    text-transform: uppercase;
}
.css{
    color: blue;
    text-transform: uppercase;
}
/* closed */
/*  box */
.box{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    position: relative;
}
input{
    width: 700px;
    background-color: #fff;
    padding: 20px ;
    border-radius: 50px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .3);
    border: none;
    outline-color: lightgray;
}

.fa-solid{
    margin-left: 20px;
    position: absolute;
}
.fa-microphone{
    color: red;
    position: absolute;
    right: 70px;
}
.fa-magnifying-glass{
    color: blue;
    position: absolute;
    right: 30px;
}
/* closed */
/* media query */
@media  screen and (max-width: 767px) {

    input{
        width: 600px;
        max-width: 100%;
        padding: 15px;
    }
    
}

@media  screen and (max-width: 575px) {
    h2{
        font-size: 16px;
    }

    input{
        width: 300px;
        max-width: 100%;
        padding: 10px;
    }
    
}